body {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
}

.header{
    padding: 50px;
    text-align: center;
    background: whitesmoke;
    color: black;
    opacity: 0.8;
    size: 50cm;
    text-align: center;
}

.typing{
    width: 0ch;
    color:white;
    float: left;
    font-family: 'Akaya Kanadaka';
    font-weight: bold;
    font-size:25px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 5s steps(20) 1s infinite alternate;
    text-align: center;
    margin-left: 300px;
}

.typing span{
    color: red;
}

.crow{
    float: left;
    color: red;
    font-family: 'Akaya Kanadaka';
    font-weight: bold;
    font-size:30px;
    animation: crow 0.5s linear 0s infinite;
}

@keyframes typing {
    from {
        width: 0ch;
    }
    to {
        width: 52ch;
    }
}

@keyframes crow {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}